@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

/*VAR---------------------------------------------------*/
:root{
    --fontPrimary: 'Poppins', sans-serif;
    --primary-background: #000000;
    --secondary-background: #ffffff;
    --opacityColor: rgba(0, 0, 0, 0.539);
    --border: #2b2b2b;
    --colorPrimary: #ffffff;
    --colorSecondary: black;
    --red: red;
    --sizeLarge: large;
    --sizeMedium: medium;
    --sizeNormal: normal;
    --sizeSmall: small;
}


/*GERAL------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    width: 100%;
    line-height: normal;
    font-family: var(--fontPrimary);
    font-weight: bold;
}
main{
    padding: 1em 0em;
}


/*CONTAINERS---------------------------------------------------*/
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 480px;
    height: 100%;
}
.container-posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


/*HEADER---------------------------------------------------*/
.header{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: var(--primary-background);
    border: var(--border) solid 1px;
    color: var(--colorPrimary);
}
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    display: flex;
    align-items: center;
    color: var(--colorPrimary);
}
.header-logout{
    display: none;
    align-items: center;
}
.editProfile{
    display: none;
}
.img-logo{
    height: 2em;
    margin-right: .5em;
}


/*FOOTER---------------------------------------------------*/
.footer{
    background-color: var(--primary-background);
    border-top: var(--border) solid 1px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3em;
    width: 100%;
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    height: 3em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-img{
    height: 2.5em;
    width: 2.5em;
}

/*SCROLLBAR---------------------------------------------------*/
::-webkit-scrollbar{
    width: 13px;
    background-color: #1a1a1a;
}
::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #AAAAAA;
}


/*STYLES---------------------------------------------------*/
.center{
    display: grid;
    place-items: center;
    height: 100%;
}
.flex-row-bet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.flex-row-short{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.flex-row-short {
    font-size: 2vh;
}
.column{
    display: flex;
    flex-direction: column;
}
.profile-photo{
    border-radius: 50%;
    width: 6em;
    height: 6em;
    object-fit: cover;
}
.profile-case{
    border: 1px solid black;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: rgb(196, 196, 196) 3px 3px 3px;
    transition: background-color 0.3s ease;
}
.profile-case:hover{
    background-color: rgb(223, 223, 223);
}
.button{
    height: 3em;
    color: var(--colorPrimary);
    background-color: var(--primary-background);
    display: flex;
    border-radius: .5em;
    align-items: center;
    justify-content: center;
    min-width: 20em;
    font-size: var(--sizeNormal);
    line-height: var(--sizeNormal);
    font-family: var(--fontPrimary);
    letter-spacing: var(--sizeNormal);
    font-weight: bold;
}


/*DETALHES---------------------------------------------- */
.paragrafo{
    margin-top: .5em;
}


/*MENU------------------------------------------------- */
.container_menu{
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    border-right: var(--border) solid 1px;
    background-color: white;
}
.menu-title{
    background-color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 2vh;
}
.menu-title{
    font-family: 'Roboto';
}
.title-link{
    width: 100%;
}
.title-link:hover{
    background-color: black;
    color: white;
}
.menu-title img{
    width: 2em;
}
.menu_ops{
    display: flex;
    flex-direction: row-reverse;
    margin: 5vh 3vh;
    align-items: center;
    width: 30%;
    justify-content: left;
    padding: 2vh;
}
.menu_img img{
    width: 20px;
    margin-right: 1em;
}
.container_menu ul{
    list-style: none;
}
.container_menu a{
    text-decoration: none;
    flex-direction: row;
    white-space: nowrap;
    color: black; 
    transition: all 0.5s ease;
}
.container-menu2 a:hover{
    filter: invert(1);
}
.container_menu li{
    transition: all 0.5s ease;

}
.container_menu li:hover{
    background-color: black;
    border-radius: 5px;
    color: white;
}


/*MODAL------------------------------------------------- */
.modal_confirm{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
    text-align: center;
    max-width: 90%;
    max-height: 30em;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 1em black;
}
.modal_confirm h3{
    font-size: 1.3em;
    color: red;
}
.modal_confirm .error-img{
    width: 7em;
}
.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    z-index: 2;
}
.hide{
    display: none;
}

@media (min-width: 480px) {
    .modal_confirm{
        max-width: 480px;
    }
}

/*POSTS---------------------------------------------------*/
.post{
    display: flex;
    flex-direction: column;
    color: black;
}
.post a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-weight: normal;
}
.hr_division{
    height: 1px;
    margin: 1em 0;
    background-color: rgb(226, 226, 226);
    border: none;
}
.post-info{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 3px;
}
.post-info img{
    border-radius: 50%;
    width: 3em;
    height: 3em;
    object-fit: cover;
}
.img-format{
    border: none;
    width: 100%;
    max-height: 550px;
    min-height: 340px;
    object-fit: cover;
    border: rgb(218, 218, 218) solid 2px;
    border-radius: 10px;
}
.botao-like{
    background-color: transparent;
    border: none;
    width: 2em;
}
.desc{
    width: 100%;
}
.desc p{
    width: 100%;
    word-wrap: break-word;
    font-family: Open Sans, sans-serif;
}
.coment-div a{
    display: flex;
    align-items: center;
    gap: 0.7em;
}
.coments-img{
    width: 1.4em;

}
.date{
    color: rgb(190, 190, 190);
    font-size: 80%;
    font-family: 'Roboto';
}
.desc-post{
    margin-top: 1em;
}
.desc-post textarea{
    resize: none;
    width: 100%;
    font-size: 1.1rem;
    padding: 2px;
    border-radius: 10px;
    font-family: var(--fontPrimary);
}
.post-comment-input-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-comment-input-div:hover{
    filter: invert(1);
}
.post-comment-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width:60%;
    height: 3em;
    border: 1px solid rgb(160, 160, 160);    
    border-radius: 3px;
    padding-left: 0.5em;
    margin-bottom: 1em;
    background-color: rgb(245, 245, 245);
    font-family: 'Poppins';
    font-weight: bold;
    cursor: pointer;
}
.delete_comment{
    margin-top: 1em;
    font-family: 'Roboto';
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 0.2em 0.4em;
    font-weight: normal;
    transition: filter 0.5s ease;
    cursor: pointer;
    border: solid 1px rgb(146, 146, 146);
    background-color: rgb(228, 228, 228);
    transition: filter 0.4s ease;
    margin: 2em 0em;
}
.delete_comment:hover{
    background-color: rgb(209, 111, 111);
}
.links-delete{
    margin-top: 2em;
    margin-bottom: 1em;
}
.links-delete a{
    text-decoration: none;
    color: black;
}
.user_name_search{
    font-size: 1.3em;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
}
.user_type_search{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 0.8em;
}


/*ERRO------------------------------------------------------*/
.error{
    color: var(--red);
    margin: 0.3em, 0;
    font-size: 0.85rem;
    text-align: center;
}


/*IMG---------------------------------------------------*/
.like{
    width: 2em;
    cursor: pointer;
}
.like-ativo{
    animation: likesAnimation 0.5s ease;
}
@keyframes likesAnimation {
    0%{
        transform: scale(1) rotateY(0);
    }
    50%{
        transform: scale(1.3) rotate(10deg);
    }
    100%{
        transform: scale(1) rotateY(0);
    }
}
.footer-fake{
    height: 3.5em;
    margin-top: 1em;
}
.like-botao-desc{
    display: flex;
    align-items: center;
    gap: 0.7em;
    margin-top: 0.5em;
    color: black;
}
.like-botao-desc a{
    text-decoration: none;
}
