@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    width: 100%;
    line-height: normal;
    font-family: var(--fontPrimary);
    font-weight: bold;
}
main{
    padding: 1em 0 ;
}

/*SCROLLBAR---------------------------------------------------*/
::-webkit-scrollbar{
    width: 10px;
    background-color: #181818;
}
::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #AAAAAA;
    border-radius: 5px;
}

/*VAR---------------------------------------------------*/
:root{
    --fontPrimary: 'Poppins', sans-serif;
    --bkgraund: #000000;
    --border: #2b2b2b ;
    --colorPrinc: #ffffff;
}

/*HEADER---------------------------------------------------*/
.header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bkgraund);
    border: var(--border) solid 1px;
    color: var(--colorPrinc);
}
.header h1{
    font-family: 'Roboto';
}
.header img{
    width: 2em;
}
@media all and (min-width:1168px){
    .header{
        display: none;
    }
}
.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.logout-header a{
    display: flex;
    align-items: center;
    width: 6.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 2.5em;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 3px;
    text-decoration: none;
}
.logout-header{
    right: 0;
    width: 100%;
    align-items: right;
    justify-content: right;
}
.title-header{
    
    left: 0;
}
.logout-header img{
    width: 1.3em;
}

.logout a{
    display: flex;
    align-items: center;
    width: 5.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 2em;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 3px;
    text-decoration: none;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logout a:hover{
    filter: invert(1);
}
.logout{
    display: flex;
    border-top: solid 1px rgb(197, 197, 197);
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: absolute;
    height: 3.5em;
}
.logout img{
    width: 1.3em;
}
/*FOOTER---------------------------------------------------*/
.footer{
    background-color: var(--bkgraund);
    border-top: var(--border) solid 1px;
 
    display: flex;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;
    
    height: 3.5em;
    width: 100%;
}
.footer ul{
    text-decoration: none;
    list-style-type: none;
}
.footer img{
    width: 2em;
}
.option-footer{
    background-color: var(--bkgraund);
    border-radius: 5px;
    padding: 0.1em 0.5em;

    transition: filter 0.3s ease;
}
.option-footer:hover{
    filter: invert(1);
}
@media all and (min-width:1168px){
    .footer{
        display: none;
    }
}

/*CONTAINERS---------------------------------------------------*/
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 480px;
    padding: 0;

}
.container-posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;    
}

/*STYLES---------------------------------------------------*/
.center{
    display: grid;
    place-items: center;
    height: 100%;
}
.flex-row-bet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.flex-row-short{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.flex-row-short {
    padding: 2vh;
    font-size: 2vh;
}
.column{
    display: flex;
    flex-direction: column;
}
.division hr{
    display: flex;
    padding: 5px;
    margin: 50px;
}
.profile-photo{
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
.profile-case{
    border: 1px solid black;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 2px;
}

/*POSTS---------------------------------------------------*/
.container-posts{
    margin-bottom: 10em;
}
.post{
    display: flex;
    flex-direction: column;
    color: black;
}
.post a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-weight: normal;
}
.post hr{
    height: 1px;
    background-color: rgb(226, 226, 226);
    border: none;

}
@media all and (min-width:1168px){
    .post{
        margin-bottom: 2vh;
    }
}
.post-info{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 3px;
}
.post-info img{
    border-radius: 50%;
    width: 3em;
    height: 3em;
}
.img-format{
    border: none;
    width: 100%;
    max-height: 550px;
    min-height: 340px;
    object-fit: cover;
    border: rgb(218, 218, 218) solid 2px;
    border-radius: 10px;
}
.botao-like{
    background-color: white;
    border: none;
    width: 5%;
    margin-left: 2%;
}
.desc{
    width: 100%;
}
.desc p{
    width: 100%;
    word-wrap: break-word;
}
.coment-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 100%;
    flex-direction: column;
}
.coment-div a{
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    display: flex;
}
.coments-img{
    width: 1.4em;
    margin-top: 0.2em;
    margin-right: 2%;
    
}
.date{
    color: rgb(172, 172, 172);
    font-size: 80%;
}
.desc-post{
    margin-top: 1em;
}
.desc-post textarea{
    resize: none;
    width: 100%;
    font-size: 1.1rem;
    padding: 2px;
    border-radius: 10px;
}
    

/*IMG---------------------------------------------------*/
.like{
    width: 2em;
    margin-top: 3px;
    cursor: pointer;
}
.footer-fake{
    height: 3.5em;
    margin-top: 1em;
}
.like-botao-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.like-botao-desc a{
    margin-left: 0.8em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.edit-div{
    border-top: solid 1px rgb(224, 224, 224);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.edit-div a{
    margin-top: 1em;
    font-family: 'Roboto';
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 0.2em 0.6em;
    font-weight: normal;
}
.edit-div a:hover{
    font-weight: bold;
    filter: invert(1);
}
.edit-div img{
    width: 1em;
    margin-right: 5px;
}
/*MENU------------------------------------------------- */
.container_menu{
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    border-right: var(--border) solid 1px;
    background-color: white;
}
.menu-title{
    background-color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 2vh;
}
.menu-title h1{
    font-family: 'Roboto';
}
.title-link{
    width: 100%;
}
.title-link:hover{
    background-color: black;
    color: white;
}
.menu-title img{
    width: 2em;
}
.menu_ops{
    display: flex;
    flex-direction: row-reverse;
    margin: 5vh 3vh;
    align-items: center;
    width: 30%;
    justify-content: left;
    padding: 2vh;
}
.menu_img img{
    width: 20px;
    margin-right: 1em;
}
.container_menu ul{
    list-style: none;
}
.container_menu a{
    text-decoration: none;
    flex-direction: row;
    white-space: nowrap;
    color: black; 
    transition: all 0.3s ease;
}
.container-menu2 a:hover{
    filter: invert(1);
}
.container_menu li:hover{
    background-color: black;
    border-radius: 5px;
    color: white;
}
@media all and (max-width:1167px){
    .container_menu{
        display: none;
    }
}