@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

/*CONTAINER------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    width: 100%;
    line-height: normal;
    font-family: var(--fontPrimary);
    font-weight: bold;
}
main{
    padding: 1em 0 ;
}

/*ERRO*/
.error{
    color: red;
    margin: 0.3em, 0;
    font-size: 0.85rem;
    text-align: center;
}

/*SCROLLBAR---------------------------------------------------*/
::-webkit-scrollbar{
    width: 13px;
    background-color: #181818;
}
::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #AAAAAA;
    border-radius: 5px;
}

/*VAR---------------------------------------------------*/
:root{
    --fontPrimary: 'Poppins', sans-serif;
    --bkgraund: #000000;
    --border: #2b2b2b ;
    --colorPrinc: #ffffff;
}

/*HEADER---------------------------------------------------*/
.header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bkgraund);
    border: var(--border) solid 1px;
    color: var(--colorPrinc);
}
.header h1{
    font-family: 'Roboto';
}
.header img{
    width: 2em;
}
.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.logout-header a{
    display: flex;
    align-items: center;
    width: 6.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 2.5em;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 3px;
    text-decoration: none;
}
.logout-header{
    right: 0;
    width: 100%;
    align-items: right;
    justify-content: right;
}
.title-header{
    left: 0;
    margin-left: 1em;
}
.logout-header img{
    width: 1.3em;
}
.logout a{
    display: flex;
    align-items: center;
    width: 5.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 2em;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 3px;
    text-decoration: none;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logout a:hover{
    filter: invert(1);
}
.logout{
    display: flex;
    border-top: solid 1px rgb(197, 197, 197);
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: absolute;
    height: 3.5em;
}
.logout img{
    width: 1.3em;
}

/*FOOTER---------------------------------------------------*/
.footer{
    background-color: var(--bkgraund);
    border-top: var(--border) solid 1px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3em;
    width: 100%;
}
.ul-class{
    display: flex;
    flex-direction: row;
}
.footer ul{
    text-decoration: none;
    list-style-type: none;
}
.footer img{
    width: 2em;
}
.option-footer{
    width: 100%;
    display: flex;
    padding: 0.1em 0.5em;
    align-items: center;
}
li.option-footer.ops-home{
    width: 100%;
    height: 3em;
}
.ops-botao a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
}
.ops-botao li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
}
.ops-botao{
    display: flex;
    width: 20%;
    height: 3em;
    justify-content: center;
    align-items: center;
}

/*CONTAINERS---------------------------------------------------*/
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 480px;
    padding: 0;
}
.container-posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/*STYLES---------------------------------------------------*/
.center{
    display: grid;
    place-items: center;
    height: 100%;
}
.flex-row-bet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.flex-row-short{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.flex-row-short {
    font-size: 2vh;
}
.column{
    display: flex;
    flex-direction: column;
}
.profile-photo{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    object-fit: cover;
}
.profile-case{
    border: 1px solid black;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: rgb(196, 196, 196) 3px 3px 3px;
    transition: background-color 0.3s ease;
}
.profile-case:hover{
    background-color: rgb(223, 223, 223);
}

/*POSTS---------------------------------------------------*/
.post{
    display: flex;
    flex-direction: column;
    color: black;
}
.post a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-weight: normal;
}
.hr_division{
    height: 1px;
    margin: 1em 0;
    background-color: rgb(226, 226, 226);
    border: none;
}
.post-info{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 3px;
}
.post-info img{
    border-radius: 50%;
    width: 3em;
    height: 3em;
    object-fit: cover;
}
.img-format{
    border: none;
    width: 100%;
    max-height: 550px;
    min-height: 340px;
    object-fit: cover;
    border: rgb(218, 218, 218) solid 2px;
    border-radius: 10px;
}
.botao-like{
    background-color: transparent;
    border: none;
    width: 2em;
}
.desc{
    width: 100%;
}
.desc p{
    width: 100%;
    word-wrap: break-word;
    font-family: Open Sans, sans-serif;
}
.coment-div a{
    display: flex;
    align-items: center;
    gap: 0.7em;
}
.coments-img{
    width: 1.4em;

}
.date{
    color: rgb(190, 190, 190);
    font-size: 80%;
    font-family: 'Roboto';
}
.desc-post{
    margin-top: 1em;
}
.desc-post textarea{
    resize: none;
    width: 100%;
    font-size: 1.1rem;
    padding: 2px;
    border-radius: 10px;
    font-family: var(--fontPrimary);
}
.post-comment-input-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-comment-input-div:hover{
    filter: invert(1);
}
.post-comment-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width:60%;
    height: 3em;
    border: 1px solid rgb(160, 160, 160);    
    border-radius: 3px;
    padding-left: 0.5em;
    margin-bottom: 1em;
    background-color: rgb(245, 245, 245);
    font-family: 'Poppins';
    font-weight: bold;
    cursor: pointer;
}
.delete_comment{
    margin-top: 1em;
    font-family: 'Roboto';
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 0.2em 0.4em;
    font-weight: normal;
    transition: filter 0.5s ease;
    cursor: pointer;
    border: solid 1px rgb(146, 146, 146);
    background-color: rgb(228, 228, 228);
    transition: filter 0.4s ease;
    margin: 2em 0em;
}
.delete_comment:hover{
    background-color: rgb(209, 111, 111);
}
.links-delete{
    margin-top: 2em;
    margin-bottom: 1em;
}
.links-delete a{
    text-decoration: none;
    color: black;
}
.user_name_search{
    font-size: 1.3em;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
}
.user_type_search{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 0.8em;
}
.btns{
    align-items: left;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.btns a{
    width: 20%;
    background-color: rgb(221, 221, 221);
    color: black;
    border: gray 1px solid;
}
.btns a:hover{
    background-color: rgb(209, 209, 209);
}

/*IMG---------------------------------------------------*/
.like{
    width: 2em;
    cursor: pointer;
}
.like-ativo{
    animation: likesAnimation 0.5s ease;
}
@keyframes likesAnimation {
    0%{
        transform: scale(1) rotateY(0);
    }
    50%{
        transform: scale(1.3) rotate(10deg);
    }
    100%{
        transform: scale(1) rotateY(0);
    }
}
.footer-fake{
    height: 3.5em;
    margin-top: 1em;
}
.like-botao-desc{
    display: flex;
    align-items: center;
    gap: 0.7em;
    margin-top: 0.5em;
    color: black;
}
.like-botao-desc a{
    text-decoration: none;
}

/*MENU------------------------------------------------- */
.container_menu{
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    border-right: var(--border) solid 1px;
    background-color: white;
}
.menu-title{
    background-color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 2vh;
}
.menu-title h1{
    font-family: 'Roboto';
}
.title-link{
    width: 100%;
}
.title-link:hover{
    background-color: black;
    color: white;
}
.menu-title img{
    width: 2em;
}
.menu_ops{
    display: flex;
    flex-direction: row-reverse;
    margin: 5vh 3vh;
    align-items: center;
    width: 30%;
    justify-content: left;
    padding: 2vh;
}
.menu_img img{
    width: 20px;
    margin-right: 1em;
}
.container_menu ul{
    list-style: none;
}
.container_menu a{
    text-decoration: none;
    flex-direction: row;
    white-space: nowrap;
    color: black; 
    transition: all 0.5s ease;
}
.container-menu2 a:hover{
    filter: invert(1);
}
.container_menu li{
    transition: all 0.5s ease;

}
.container_menu li:hover{
    background-color: black;
    border-radius: 5px;
    color: white;
}
.modal_confirm{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
    text-align: center;
    min-width: 20em;
    max-width: 35em;
    max-height: 30em;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 1em black;
}
.modal_confirm h3{
    font-size: 1.3em;
    color: red;
}
.modal_confirm img{
    width: 100px;
}
.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    z-index: 2;
}
.hide{
    display: none;
}
.buttonEdit{
    text-decoration: none;
    height: 2em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.delete-button{
    border: solid 1px rgb(128, 22, 22);
    background-color: #b33d3d;
}
.delete-button:hover{
    background-color: #ce6d6d;
    border: solid 1px #924b4b;
}
.back-button{
    background-color: #3d76b3;
    border: solid 1px #165280;
}
.back-button:hover{
    background-color: #71a2d6;
    border: solid 1px #215e8d;
}

/*ACCESSIBILITY--------------------*/
@media all and (max-width:1167px){
    .container_menu{
        display: none;
    }
}
@media all and (min-width:1168px){
    .footer{
        display: none;
    }
}
@media all and (min-width:1168px){
    .header{
        display: none;
    }
    .void{
        display: none;
    }
}