.footer{
    background-color: var(--bkgraund);
    border-top: var(--border) solid 1px;
 
    display: flex;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;
    
    height: 3.5em;
    width: 100%;
}

.footer ul{
    text-decoration: none;
    list-style-type: none;
}

.footer img{
    width: 2em;
}

.flex-row-bet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.option-footer{
    background-color: var(--bkgraund);
    border-radius: 5px;
    padding: 0.1em 0.5em;
    transition: filter 0.3s ease;
}

.option-footer:hover{
    filter: invert(1);
}

.footer-fake{
    height: 3.5em;
    margin-top: 1em;
}

@media all and (min-width:1168px){
    .footer{
        display: none;
    }
}