.ops-home{
    background-color: rgb(53, 53, 53);
}
.ops-search{
    background-color: black;
}
.ops-rank{
    background-color: black;
}
.ops-newP{
    background-color: black;
}
.ops-profile{
    background-color: black;
}