@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Dancing+Script:wght@700&family=Lobster&family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/*CONTAINER------------------------*/
*{
    width: 100%;    
}
html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: grid;
}
.container-inicial{
    justify-content: center;
    align-items: center;
    color: black;
    background: linear-gradient(135deg, #154341, #141923);
    justify-content: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

/*BOX------------------------------*/
.inicial-all-box{
    border-radius: 15px;
    border: rgb(168, 168, 168) solid 1px;
    background-color: rgba(255, 255, 255);
    margin: 1em 1em;
    padding: 1em;
}

/*INFO-----------------------------*/
.container-info{
    width: 100%;
    text-align: center;
}
.logo{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: black;
    font-family: 'Patua One', cursive;
    font-size: 150%;
}
.img-logo{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 0.75em;
}
.text-info{
    font-size: 0.8rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 2em;
    text-align: justify;
}

/*FUNCIONAL------------------------*/
.container-funcional{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/*BUTTON------------------------*/
.ops-funcional{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ops-div{
    width: 100%;
}
.ops-div a{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.ops-funcional a{
    align-items: center;
    justify-content: center;
    display: flex;
    background: #3d9db3;
    border: solid 1px rgb(22, 85, 128);
    color: rgb(255, 255, 255);
    height: 3em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5em 0em;
}
.ops-funcional a:hover{
    background: #61acbd;
    border: solid 1px #4b8592;
}

/*ACCESSIBILITY--------------------*/
@media all and (min-width:1167px){
    .inicial-all-box{
        margin: 1em 20em;
        padding: 3em;
    }
}
@media all and (max-width:1167px){
    .inicial-all-box{
        padding: 10% 3em;
        margin: 1em 8em;
    }
}
@media all and (min-width:1320px){
    .inicial-all-box{
        margin: 1em 24em;
        padding: 3em;
    }
    .text-info{
        font-size: 1.1rem;
    }
}
@media all and (max-width:620px){
    .inicial-all-box{
        padding: 10% 1em;
        margin: 1em 1em;
    }
}
@media all and (min-width:1720px){
    .inicial-all-box{
        max-width: 700px;
        
    }
}