@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

/*CONTAINER------------------------*/

.container-login{
    background: linear-gradient(135deg, #154341, #141923);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}


/*BOX------------------------------*/

.login-all-box{
    background-color: rgb(119, 119, 119);
    padding: 4em;
    height: 90%;
    width: 90%;
    border-radius: 15px;
    border: rgb(168, 168, 168) solid 1px;
    background-color: rgba(255, 255, 255);
}


/*TITLE----------------------------*/

.title-login{
    text-align: center;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8em;
    color: linear-gradient(135deg, #154341, #141923);
    font-weight: bold;
}


/*INSERT---------------------------*/

.input-box{
    width: 100%;
}

.input-box input{
    width: 100%;
}

.input-text{
    margin-bottom: 3vh;
}

.input-text label{
    color: rgb(0, 0, 0);
    font-size: 90%;
    font-weight: bold;
}

.input-text input{
    height: 2em;
    border: solid rgb(44, 60, 99) 1px;
    border-radius: 10px;
    padding: 0px 10px;
    margin-bottom: 5%;
    font-size: 1.1rem;
    background-color: rgb(219, 219, 219);
}

.input-text input::-webkit-input-placeholder {
    font-size: 100%;
    filter: opacity(1);
    color: rgb(0, 0, 0);
    text-shadow: rgb(233, 233, 233) 1px 1px 1px;
    align-items: center;
    justify-content: center;
}

.input-text input:hover{
    border: solid rgb(39, 159, 180) 2px;    
}


/*BUTTON---------------------------*/

.input-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-button input{
    align-items: center;
    justify-content: center;
    display: flex;
    background: #3d9db3;
    border: solid 1px rgb(22, 85, 128);
    color: rgb(255, 255, 255);
    height: 2.4em;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

.input-button input:hover{
    background: #61acbd;
    border: solid 1px #4b8592;
}

.input-login{
    width: 100%;
}

.login-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


/*ACCESSIBILITY--------------------*/

@media all and (min-width:1167px){

    .login-all-box{
        width: 50%;
        height: 90%;
    }
}

@media all and (min-width:600px){

    .login-all-box{
        width: 50%;
    }
}