@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
.box-photo{
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    max-height: 550px;
    min-height: 340px;
    transition: background-color 0.3s ease;
}
.box-photo:hover{
    background-color: #ddd;
}
.input-img{
    display: none;
}
.submit-post{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.submit-post button{
    margin-top: 1em;
    height: 3em;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-family: 'Poppins';
    font-weight: bold;
    border: solid 1px rgb(146, 146, 146);
    background-color: rgb(228, 228, 228);

    transition: filter 0.5s ease;
}
.submit-post button:hover{
    filter: invert(1);
}
.desc-post textarea{
    padding: 5px;
    font-family: 'Roboto';
}
input,textarea:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.ops-newP{
    background-color: rgb(53, 53, 53);
}