.box-photo{
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;

    max-height: 550px;
    min-height: 340px;

    transition: background-color 0.3s ease;
}
.box-photo:hover{
    background-color: #ddd;
}
.input-img{
    display: none;
}


.button-publish{
    padding: 1em;
    border-radius: 10px;
    border: 1px solid   black;
    text-align: center;
    margin: 1em 0;
    font-size: 1.2em;
    font-weight: bolder;
    width: 100%;
}
