@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
.box-photo{
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;

    max-height: 550px;
    min-height: 340px;

    transition: background-color 0.3s ease;
}
.box-photo:hover{
    background-color: #ddd;
}
.input-img{
    display: none;
}
.submit-post{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.submit-post button{
    width: 100%;
    height: 4em;
    display: flex;
    border-radius: 10px;
    border: 1px solid   black;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    align-items: center;
}
.submit-post button:hover{
    background-color: #ddd;
    
}
