
.division{
    margin: 1em 0;
}
.profile-bio{
    margin: 0.7em 0em;
    word-wrap: break-word;
}

.like-total-user img{
    margin-top: 0;
}
.like-total-user div{
    align-items: center;
}

h2{
    word-break: break-all;
}

.comment{
    margin-left: 0.7em;
}
.ops-profile{
    background-color: rgb(53, 53, 53);
}