.name-div h2{
    word-wrap: break-word;
}
.division{
    margin: 1em 0;
}
.profile-bio{
    margin: 0.7em 0em;
    word-wrap: break-word;
}
.like-total-user img{
    margin-top: 0;
}
.like-total-user div{
    align-items: center;
}
h2{
    word-break: break-word;
}
.comment{
    margin-left: 0.7em;
}
.edit-div{
    border-top: solid 1px rgb(224, 224, 224);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.edit-div a{
    margin-top: 1em;
    font-family: 'Roboto';
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 0.2em 0.4em;
    font-weight: normal;
    transition: filter 0.5s ease;
    cursor: pointer;
    border: solid 1px rgb(146, 146, 146);
    background-color: rgb(228, 228, 228);
    transition: filter 0.4s ease;
}
.edit-div a:hover{
    filter: invert(1);
}
.edit-div img{
    width: 1em;
    margin-right: 5px;
}
.delete_post{
    display: flex;
    font-size: 0.9em;
    border-radius: 3px;
    align-items: center;
    padding: 3px;
    max-width: 7em;
    cursor: pointer;
}
.delete_post a{
    width: 10%;
}
.delete_post:hover{
    background-color: rgb(209, 111, 111);
}
.delete_post img{
    width: 1em;
}
.ops-profile{
    background-color: rgb(53, 53, 53);
}
.desc-post textarea{
    padding: 5px;
    font-family: 'Roboto';
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    font-weight: bold;
}