a{
    text-decoration: none;
    color: black;
}
.user_name_search{
    font-size: 1.0em;
}
.user_type_search{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 0.8em;
}
.botao_search{
    height: 3em;
    padding-top: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    width: 22%;
    border: solid 1px rgb(146, 146, 146);
    font-family: 'Poppins';
    font-weight: bold;
    background-color: rgb(228, 228, 228);
}
.botao_search:hover{
    filter: invert(1);
}

.search-img-botao{
    width: 1.5em;
    margin-bottom: 3px;
    cursor: pointer;
}
.div-botao-search{
    display: flex;
    justify-content: center;
}
.div-botao-search button{
    display: flex;
    justify-content: center;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.hr_division_search{
    margin: 1em 0em;
}
.like-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto';
    font-weight: normal;
}
.like-div img{
    margin-bottom: 0.5em;
}
.profile-case img{
    margin-right: 1em;
}