.search-input{
    width:100%;
    height: 3em;
    border: 1px solid rgb(160, 160, 160);    
    border-radius: 3px;
    padding-left: 0.5em;
    margin-bottom: 1em;
    background-color: rgb(245, 245, 245);
    font-family: 'Poppins';
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
.user_name_search{
    font-size: 1.3em;
}
.user_type_search{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 1em;
}
.botao_search{
    height: 3em;
    padding-top: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    width: 35%;
    border: solid 1px rgb(146, 146, 146);
    font-family: 'Poppins';
    font-weight: bold;
    background-color: rgb(228, 228, 228);
}
.botao_search:hover{
    filter: invert(1);
}
.search-img-botao{
    width: 1.5em;
    margin-bottom: 3px;
    cursor: pointer;
}
.div-botao-search{
    display: flex;
    justify-content: center;
}
.div-botao-search button{
    display: flex;
    justify-content: center;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.hr_division_search{
    margin: 1em 0em;
}
.ops-search{
    background-color: rgb(53, 53, 53);
}